*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

body {

    font-family:'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* INICIO HEADER */

.nav {
    background-color: #383838;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav--list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 30px;
}

.nav--list a {
    text-decoration: none;
    color: #ddd;
    padding: 20px;
}

.nav--list a:hover {

    color: #0664df;
    font-weight: bold;
}

/** FIM HEADER **/


/** Incio Main **/

.main {
    display: flex;
    width: 100%;
    background-color: #242424;
    height: calc(100vh - 80px);
    background-image: url("../images/Programador.jpg");
    align-items: center;
    padding-left: 10%;  
}

.main h1{

    color: #000000;

    font-size: 45px;

}

.main p {

    font-size: 20px;
    font-style: bold;
    color: #0664df;
    margin-top: 10px;
    margin-bottom: 35px;
    font-weight: bold
    
}

.call--to--action {

    cursor: pointer;
    background-color: #bbbbbb;
    border: 0;
    padding: 18px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.9s;
}
.call--to--action:hover{ 
    transform: scale(1.1);

}

.main a { 

    text-decoration: none;
    color: #181818;
}
/**Fim do Main **/


/**Fim do Abount **/
.about {
    display: flex;
    background-color: #c9c9c9;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: center;
    justify-content: space-between;

}

.about div {

        max-width: 50%;
        padding-right: 40px;

}

.about img {
    max-width: 450px;
    border-radius: 8px;
}

.about h2 {
    font: 32px;
    margin-bottom:  14px;
}

/**Fim do About**/

/**Inicio Projetos**/

.list {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.list h2 {

    font-size:  22px;
    margin-bottom: 8px;
    margin-top: 20px;

}
.list p {

    margin-bottom: 40px;
    font-style: italic;
}

.lista--projetos {

    width: 100%;
    margin-bottom:  8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.list img {
    border-radius: 5%;
    width: 22%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    opacity: 0.5;
    transition: 0.9s;
}
.list img:hover {
    opacity: 1;
}

.call--to--action2 {
    color: #ddd;
    cursor: pointer;
    background-color: #000000;
    border: 0;
    padding: 18px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
    cursor: pointer;
}
.call--to--action2:hover{ 
    transform: scale(1.1);

}
/** Final Projetos **/

/**Inicio RodaPé **/

footer{
    width: 100%;
    background-color: #181818;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #ffff;
}
footer p {
    margin-left: 12px;
}

/**Fim rodepé **/

/**Respodividade**/

@media (max-width: 1025px) {

    .main h1 {
        font-size: 25px;
    }
    .manin {
        background-size: cover;
    }


    .about {
        flex-direction: column;
        padding-top: 80px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    .about div {
        max-width: 80%;
    }

    .about div h2 {
        font-size: 40px;
    }

    .about img {
        width: 80%;
        margin-top: 30px;
    }


    .lista--projetos img {

            width: 30%;

    }

    footer {
        flex-direction: column;

    }


    footer {

        font-size: 20px;
        margin-bottom: 8px;
    }
    footer p {
        margin: 0;
    }
}